.bN_List > div.c_1024 {
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.bN_List h1 {
  color: #fff;
}
.bN_Entries {
  position: relative;
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;
  flex: 1 100%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
@media (min-width: 768px) {
  .bN_List > div.c_1024 {
    padding: 2rem 1rem 0;
  }
  .bN_Entries {
    position: relative;
    -webkit-box-flex: 1 calc(33.33% - 1rem);
    -moz-box-flex: 1 calc(33.33% - 1rem);
    flex: 1 calc(33.33% - 1rem);
    padding: 0;
    margin: 2rem 0;
  }
}
@media (min-width: 1058px) {
  .bN_List > div.c_1024 {
    padding: 2rem 0 0;
  }
}
.bN_Entries figure > div {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  display: block;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
.bN_Entries figure > div::after {
  position: absolute;
  z-index: 1;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  height: 5.5rem;
  display: block;
}
.bN_mImage {
  display: none;
}
.bN_author {
  position: absolute;
  text-align: center;
  z-index: 2;
  background: #fff;
  height: 52px;
  width: 52px;
  bottom: 0.6rem;
  right: 1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  -ms-transition: all 350ms linear;
  -o-transition: all 350ms linear;
  transition: all 350ms linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 0.6rem -0.2rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 0.6rem -0.2rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 0.6rem -0.2rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 0.6rem -0.2rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 0.6rem -0.2rem;
}
.bN_author::before {
  font-size: 2rem;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(033, 055, 060, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bN_author img {
  margin: 0.65rem auto;
  max-width: 80%;
  height: auto;
}

article.bN_Entries:hover .bN_author {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  bottom: 1.3rem;
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 1.5rem -0.3rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 1.5rem -0.3rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 1.5rem -0.3rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 1.5rem -0.3rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 1.5rem -0.3rem;
}
.bN_Entries:nth-of-type(1) {
  padding: 0 !important;
  -webkit-box-flex: 0 100%;
  -moz-box-flex: 0 100%;
  flex: 0 100%;
}
.bN_Entries:nth-of-type(1) figure > div {
  height: 400px;
}
.bN_Entries:nth-of-type(1) .bN_mImage {
  margin: 0 1rem 1rem 0;
  width: 38%;
  height: 250px;
  float: left;
}
.bN_Entries:hover .bN_mImage {
  transform: scale(1.05) rotate(-2deg);
}
.bN_Entries h2 {
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .bN_Entries:nth-of-type(1),
  .bN_Entries:nth-of-type(2) {
    -webkit-box-flex: 0 calc(50% - 1rem);
    -moz-box-flex: 0 calc(50% - 1rem);
    flex: 0 calc(50% - 1rem);
  }
  .bN_Entries:nth-of-type(1) figure > div,
  .bN_Entries:nth-of-type(2) figure > div {
    height: 300px;
  }
  .bN_Entries h2 {
    font-size: 1.4rem;
  }
}
.bN_Entries aside {
  font-size: 0.8rem;
}
.bN_Entries aside a,
.incNews_Entries aside a {
  -webkit-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
}
.bN_Entries figure {
  position: relative;
  display: block;
  padding: 0 0 3rem;
  background: #fff;
  margin: 0;
  -webkit-transition: a35l 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -1rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -1rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -1rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -1rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -1rem;
}
.bN_Entries figure:hover {
  margin: -0.1rem 0 0.1rem;
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -1rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -1rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -1rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -1rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -1rem;
}
.bN_List figure > img {
}
.bN_List figcaption {
  padding: 0.5rem 2rem 3rem 2rem;
}
.bN_Entries figcaption aside {
  color: rgba(170, 195, 191, 1);
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
}
.bN_Entries figcaption aside span {
  font-weight: 100;
  float: right;
}
.bN_List figure.bN_ListFirst {
  position: relative;
  margin: 0;
  padding: 8rem 1rem 0;
}
.bN_List figure.bN_ListFirst > * {
  position: relative;
  z-index: 1;
}
.bN_List figure.bN_ListFirst h1 {
  text-align: left;
  padding-bottom: 0;
  color: rgba(255, 113, 90, 1);
  text-transform: inherit;
  font-size: 2.2rem;
  letter-spacing: 0;
  line-height: 3.2rem;
}
.bN_List figure.bN_ListFirst h2 {
  color: #fff;
  font-size: 1.4rem;
}
.bN_List figure.bN_ListFirst h2 .button {
  display: block;
}
.bN_List figure.bN_ListFirst small {
  text-align: left;
  display: block;
  padding: 1.5rem 0 0;
}
.bN_List figure.bN_ListFirst small span {
  display: inline-block;
  padding: 0.2rem 0;
  color: rgba(170, 195, 191, 1);
}
.bN_List figure.bN_ListFirst h3 {
  padding-right: 65px;
}
.bN_List figure.bN_ListFirst .bN_author {
  top: 1rem;
}
.bN_List figure.bN_ListFirst small span:last-of-type {
  float: right;
}
a.incNews_fullLink,
.bN_List figure.bN_ListFirst figcaption > div > a:last-of-type {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0 none;
}
.bN_List figure.bN_ListFirst > figcaption {
  padding: 1rem;
  background: #fff;
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.bN_List figure.bN_ListFirst > figcaption:hover {
  -webkit-transform: translate(0, -0.35rem);
  -moz-transform: translate(0, -0.35rem);
  -ms-transform: translate(0, -0.35rem);
  -o-transform: translate(0, -0.35rem);
  transform: translate(0, -0.35rem);
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
}
.bN_List figure.bN_ListFirst > figcaption:hover .bN_author {
  -webkit-transform: scale(1.1) translate(0.15rem, -0.05rem);
  -moz-transform: scale(1.1) translate(0.15rem, -0.05rem);
  -ms-transform: scale(1.1) translate(0.15rem, -0.05rem);
  -o-transform: scale(1.1) translate(0.15rem, -0.05rem);
  transform: scale(1.1) translate(0.15rem, -0.05rem);
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 2rem -0.3rem;
}
.bN_List figure.bN_ListFirst > figcaption::after {
  content: "";
  display: block;
  clear: both;
}
.bN_List figure.bN_ListFirst > figcaption .bN_ListFirstImage {
  width: calc(100% + 2rem);
  height: 300px;
  margin: -1rem -1rem 1rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.bN_List figure.bN_ListFirst > figcaption .bN_ListFirstImage img {
  display: none;
}
.bN_List figure.bN_ListFirst > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 2rem;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
  background: rgba(033, 055, 060, 1);
}
.bN_List figure.bN_ListFirst > div > div {
  opacity: 0.4;
  -webkit-filter: blur(0.4rem);
  filter: blur(0.4rem);
  position: absolute;
  left: -2rem;
  top: -2rem;
  bottom: 0;
  width: calc(100% + 4rem);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bN_List figure.bN_ListFirst > .bN_EntryBottom {
  position: absolute;
  bottom: calc(2rem - 1px);
  left: 0;
  width: 100vw;
  z-index: 0;
}
@media (min-width: 768px) {
  .bN_List figure.bN_ListFirst h2 .button {
    display: inline-block;
  }
}
@media (min-width: 1058px) {
  .bN_List figure.bN_ListFirst > figcaption .bN_ListFirstImage {
    width: 50%;
    height: 400px;
    float: left;
    margin: -1rem 2rem -1rem -1rem;
  }
  .bN_List figure.bN_ListFirst small {
    padding: 0 0 1rem;
    position: absolute;
    left: calc(50% + 1rem);
    bottom: 1rem;
    width: calc(50% - 3rem);
  }
  .bN_List figure.bN_ListFirst h2 .button {
    float: right;
  }
  .bN_List figure.bN_ListFirst {
    padding: 7rem 0 0;
  }
  .bN_List article.bN_ListFirst {
    padding: 7rem 0 1rem;
  }
}
#bN_Entry {
  -webkit-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
#bN_Entry article {
  padding: 7rem 1rem 1rem;
  border-top: 1px solid #f3f6fe;
  border-bottom: 1px solid #f3f6fe;
}
#bN_Entry article div {
  padding: 0;
}
#bN_Entry > a {
  display: inline-block;
  margin: 2rem 0;
}
#bN_mImage {
  padding: 0;
  margin: 0 0 1rem;
  background-position: center center;
  min-height: 400px;
  height: 38vh;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
}
#bN_mImage img {
  display: none;
}
#bN_Entry > figure {
  position: relative;
  margin: 0;
  padding: 12rem 1rem 0;
  text-align: center;
  background: rgba(033, 055, 060, 1);
  background-position: 0 100%;
  background-size: 200% 100%;
}
#bN_Entry > figure > * {
  position: relative;
  z-index: 1;
}
#bN_Entry h1 {
  text-align: left;
  color: #fff;
  padding-bottom: 0;
}
#bN_Entry small {
  color: #fff;
  text-align: left;
  display: block;
  padding: 0 0 1rem;
}
#bN_Entry small span {
  display: inline-block;
  /*padding: 0.2rem 0 0.2rem 1.4rem;*/
}
#bN_Entry small a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#bN_Entry > figure > figcaption img {
  width: 62%;
  height: auto;
  margin: 0 auto -5rem;
  -webkit-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  -moz-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  -o-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  -ms-box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
  box-shadow: rgba(033, 055, 060, 1) 0 0 4rem -0.3rem;
}
#bN_Entry > figure > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
#bN_Entry > figure > div > div {
  -webkit-filter: blur(0.4rem);
  filter: blur(0.4rem);
  position: absolute;
  left: -2rem;
  top: -2rem;
  bottom: -2rem;
  width: calc(100% + 4rem);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bN_Entry > figure > .bN_EntryBottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100vw;
  z-index: 0;
}
@media (min-width: 1058px) {
  #bN_Entry > figure {
    padding: 7rem 0 0;
  }
  #bN_Entry article {
    padding: 7rem 0 1rem;
  }
}
