/**
 *
 *
 * ,-----.  ,--.              ,--.    ,-----.          ,--.       ,-----.,--.   ,--. ,---.
 * |  |) /_ |  | ,--,--. ,---.|  |,-.'  .--./ ,--,--.,-'  '-.    '  .--./|   `.'   |'   .-'
 * |  .-.  \|  |' ,-.  || .--'|     /|  |    ' ,-.  |'-.  .-'    |  |    |  |'.'|  |`.  `-.
 * |  '--' /|  |\ '-'  |\ `--.|  \  \'  '--'\\ '-'  |  |  |      '  '--'\|  |   |  |.-'    |
 * `------' `--' `--`--' `---'`--'`--'`-----' `--`--'  `--'       `-----'`--'   `--'`-----'
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 3 of the License, or (at
 *   your option) any later version.
 *
 *   This program is distributed in the hope that it will be useful, but
 *   WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *   General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with this program; if not, see <http://www.gnu.org/licenses/>.
 *
 *   @author			Matthias Glienke
 *   @copyright		2022, Black Cat Development
 *   @link				https://github.com/BlackCatDevelopment/BlackNews_for_BlackCatCMS
 *   @license			https://www.gnu.org/licenses/gpl-3.0.html
 *   @category		CAT_Modules
 *   @package			blackNews
 *
 */

@font-face {
  font-family: "blacknews";
  src: url("fonts/blacknews.eot?p6b53x");
  src: url("fonts/blacknews.eot?p6b53x#iefix") format("embedded-opentype"),
    url("fonts/blacknews.ttf?p6b53x") format("truetype"),
    url("fonts/blacknews.woff?p6b53x") format("woff"),
    url("fonts/blacknews.svg?p6b53x#blacknews") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bN-icon-"]::before,
[class*=" bN-icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "blacknews" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bN-icon-blacknews:before {
  content: "\e900";
}
.bN-icon-catgallery .path1:before {
  content: "\e901";
  color: rgb(242, 243, 244);
}
.bN-icon-catgallery .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: none;
}
.bN-icon-catgallery .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(216, 30, 0);
  opacity: 0.6005;
}
.bN-icon-catgallery .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(56, 213, 255);
  opacity: 0.6005;
}
.bN-icon-catgallery .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(213, 210, 0);
  opacity: 0.6005;
}
.bN-icon-catgallery .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(171, 31, 121);
  opacity: 0.6005;
}
.bN-icon-catgallery .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 124, 0);
  opacity: 0.6005;
}
.bN-icon-catgallery .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 167, 121);
  opacity: 0.6005;
}
.bN-icon-catgallery .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(42, 52, 63);
  opacity: 0.7762;
}
.bN-icon-letima:before {
  content: "\e90a";
}
.bN-icon-quill:before {
  content: "\e919";
}
.bN-icon-images:before {
  content: "\e940";
}
.bN-icon-new:before {
  content: "\e97b";
}
.bN-icon-feed:before {
  content: "\e986";
}
.bN-icon-book:before {
  content: "\e990";
}
.bN-icon-file-plus:before {
  content: "\e9a2";
}
.bN-icon-tag:before {
  content: "\e9ee";
}
.bN-icon-tags:before {
  content: "\e9ef";
}
.bN-icon-mail:before {
  content: "\ea31";
}
.bN-icon-clock:before {
  content: "\ea4f";
}
.bN-icon-calendar:before {
  content: "\ea5f";
}
.bN-icon-user:before {
  content: "\eaf7";
}
.bN-icon-users:before {
  content: "\eaf8";
}
.bN-icon-coffee:before {
  content: "\ebc9";
}
.bN-icon-addon:before {
  content: "\ec21";
}
.bN-icon-arrow-up:before {
  content: "\edba";
}
.bN-icon-arrow-right:before {
  content: "\edbe";
}
.bN-icon-arrow-down:before {
  content: "\edc2";
}
.bN-icon-arrow-left:before {
  content: "\edc6";
}
.bN-icon-share:before {
  content: "\eee0";
}
.bN-icon-facebook:before {
  content: "\eeef";
}
.bN-icon-twitter:before {
  content: "\eef5";
}
.bN-icon-rss:before {
  content: "\eefa";
}
.bN-icon-github:before {
  content: "\ef0f";
}
.bN-icon-tumblr:before {
  content: "\ef18";
}
.bN-icon-linkedin:before {
  content: "\ef29";
}
.bN-icon-pinterest:before {
  content: "\ef31";
}
.bN-icon-xing:before {
  content: "\ef33";
}

.bN-icon-feed:before {
  color: #de0446;
}
.bN-icon-feed.published:before {
  color: #4fc200;
}

.bn_optionForm hr,
.blackNews hr {
  border-top: 1px solid rgba(177, 190, 199, 1);
}

.blackNews {
  display: -webkit-box;
  display: -moz-box;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
  border: 1px solid #9da8b2;
  clear: both;
}
.blackNews h3 {
  padding: 1em 0;
}
.bc_sidebar {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 250px;
  -ms-flex: 1 0 250px;
  flex: 1 0 250px;
  width: 250px;
  border-right: 1px solid #9da8b2;
}
.bc_sidebar button {
  margin: 0.2em;
  width: calc(100% - 0.4em);
}
.bc_sidebar ul {
  max-height: 800px;
  overflow-y: scroll;
  margin: 0;
  padding: 0.2em 0;
}
.bc_sidebar li {
  margin: 0;
  padding: 0.4em;
  cursor: pointer;
}
.bc_sidebar li:hover {
  background: white;
}
.bc_sidebar li.active {
  font-weight: 700;
  background: white;
}

.bc_Main {
  display: inline-block;
  width: calc(100% - 250px);
}
.bc_Main small {
  font-size: 0.9em;
}
.bc_MainButtons {
  text-align: right;
  border-bottom: 1px solid #9da8b2;
  background: #f4f7fa;
}
.bc_MainButtons button {
  margin: 0.2em 0.5em 0.2em 1.5em;
}
.bc_MainContent {
  padding: 1em;
}
.bc_Main footer {
  font-size: 0.9em;
  padding: 0.5em 1em;
  background: #d8dbdd;
  text-align: right;
}
.bcVersion {
  display: block;
  font-size: 0.9em;
}
.bcLabel {
  display: inline-block;
  width: 12em;
}
.bc_Form input,
.bc_Form textarea,
.bc_Form select {
  width: calc(100% - 15em);
  vertical-align: top;
}
.bc_Form input[type="date"] {
  width: 150px;
}
.bc_Form input[type="time"] {
  width: 100px;
}
.bc_Form textarea {
  height: 10em;
}

.bN-icon-pubAct {
  color: #409e00;
}

.bN-icon-pubInAct {
  color: #de0446;
}

.bN-icon-pubInAct,
.published .bN-icon-pubAct {
  display: inline-block;
}
.published .bN-icon-pubInAct,
.bN-icon-pubAct {
  display: none;
}

.bc_skin {
  padding: 0;
  float: right;
  width: 350px;
  margin: 0em 1em 0em 0em;
  border: 1px solid #b1bec7;
  border-bottom: 0px none;
  background: #f4f7fa;
  position: relative;
  z-index: 1;
}
.bc_skin > * {
  padding: 0.4em 1em;
}
.bc_skin select,
.bc_skin input {
  margin: 0.4em 0em;
  width: 100%;
}
.bc_skin p {
  font-size: 1em;
  margin: 0px;
  color: #818a92;
  font-weight: 700;
  cursor: pointer;
}
.bc_skin small {
  font-weight: 300;
  font-size: 0.9em;
  float: right;
}
.bc_skin > form {
  padding: 1em 0.8em 0.2em 0.8em;
  line-height: 1.8em;
  width: 90%;
  left: 5%;
  position: absolute;
}

.bn_optionForm {
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  padding: 2em;
  top: 5em;
  left: 0em;
  width: 30em;
  z-index: 99;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 4em 1em;
  -moz-transform-origin: 4em 1em;
  -o-transform-origin: 4em 1em;
  -ms-transform-origin: 4em 1em;
  transform-origin: 4em 1em;
  -webkit-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bn_optionForm.active {
  top: 7em;
  z-index: 9999;
  transform: scale(1);
}
.bn_optionForm input,
.bn_optionForm textarea {
  width: calc(100% - 10em);
  vertical-align: top;
}
.bn_optionForm textarea {
  height: 10em;
}
.bn_optionForm button {
  margin: 2em 0 0 0;
  width: 100%;
  border-bottom: 0 none;
}

.bn_gOpt {
  margin: 0 0 0 1em;
}

.bN_previewIMG {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 200px;
}

.bc_Formular {
  padding: 1em;
  margin: 2em 0 0 0;
  border-top: 3px double black;
}
.bc_Formular table {
  width: 100%;
}
.bc_Formular tr {
  border-bottom: 1px solid black;
}
.bn_FormularInput {
  background: rgba(228, 228, 228, 1);
}
.bN-icon-FieldDD::before {
  color: #de0446;
  content: "\e91d";
}
.bc_Formular input[type="text"] {
  width: 120px;
}

.bN_dropzone {
  background: url(images/ps_neutral.png);
  font-size: 1.2em;
  color: #282a2e;
  border: 1px solid #818a92;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
}
.bN_dropzone span {
  font-size: 0.8em;
  color: #818a92;
  display: block;
}
