/**
 *
 * ,-----.  ,--.              ,--.    ,-----.          ,--.       ,-----.,--.   ,--. ,---.
 * |  |) /_ |  | ,--,--. ,---.|  |,-.'  .--./ ,--,--.,-'  '-.    '  .--./|   `.'   |'   .-'
 * |  .-.  \|  |' ,-.  || .--'|     /|  |    ' ,-.  |'-.  .-'    |  |    |  |'.'|  |`.  `-.
 * |  '--' /|  |\ '-'  |\ `--.|  \  \'  '--'\\ '-'  |  |  |      '  '--'\|  |   |  |.-'    |
 * `------' `--' `--`--' `---'`--'`--'`-----' `--`--'  `--'       `-----'`--'   `--'`-----'
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 3 of the License, or (at
 *   your option) any later version.
 *
 *   This program is distributed in the hope that it will be useful, but
 *   WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *   General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with this program; if not, see <http://www.gnu.org/licenses/>.
 *
 *   @author			Matthias Glienke
 *   @copyright		2022, Black Cat Development
 *   @link				https://github.com/BlackCatDevelopment/BlackNews_for_BlackCatCMS
 *   @license			https://www.gnu.org/licenses/gpl-3.0.html
 *   @category		CAT_Modules
 *   @package			blackNews
 *
 */

@font-face {
  font-family: "blacknews";
  src: url("fonts/blacknews.eot?p6b53x");
  src: url("fonts/blacknews.eot?p6b53x#iefix") format("embedded-opentype"),
    url("fonts/blacknews.ttf?p6b53x") format("truetype"),
    url("fonts/blacknews.woff?p6b53x") format("woff"),
    url("fonts/blacknews.svg?p6b53x#blacknews") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bN-icon-"]::before,
[class*=" bN-icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "blacknews" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bN-icon-blacknews:before {
  content: "\e900";
}
.bN-icon-catgallery .path1:before {
  content: "\e901";
  color: rgb(242, 243, 244);
}
.bN-icon-catgallery .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: none;
}
.bN-icon-catgallery .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(216, 30, 0);
  opacity: 0.6005;
}
.bN-icon-catgallery .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(56, 213, 255);
  opacity: 0.6005;
}
.bN-icon-catgallery .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(213, 210, 0);
  opacity: 0.6005;
}
.bN-icon-catgallery .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(171, 31, 121);
  opacity: 0.6005;
}
.bN-icon-catgallery .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 124, 0);
  opacity: 0.6005;
}
.bN-icon-catgallery .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 167, 121);
  opacity: 0.6005;
}
.bN-icon-catgallery .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(42, 52, 63);
  opacity: 0.7762;
}
.bN-icon-letima:before {
  content: "\e90a";
}
.bN-icon-quill:before {
  content: "\e919";
}
.bN-icon-images:before {
  content: "\e940";
}
.bN-icon-new:before {
  content: "\e97b";
}
.bN-icon-feed:before {
  content: "\e986";
}
.bN-icon-book:before {
  content: "\e990";
}
.bN-icon-file-plus:before {
  content: "\e9a2";
}
.bN-icon-tag:before {
  content: "\e9ee";
}
.bN-icon-tags:before {
  content: "\e9ef";
}
.bN-icon-mail:before {
  content: "\ea31";
}
.bN-icon-clock:before {
  content: "\ea4f";
}
.bN-icon-calendar:before {
  content: "\ea5f";
}
.bN-icon-user:before {
  content: "\eaf7";
}
.bN-icon-users:before {
  content: "\eaf8";
}
.bN-icon-coffee:before {
  content: "\ebc9";
}
.bN-icon-addon:before {
  content: "\ec21";
}
.bN-icon-arrow-up4:before {
  content: "\edba";
}
.bN-icon-arrow-right4:before {
  content: "\edbe";
}
.bN-icon-arrow-down4:before {
  content: "\edc2";
}
.bN-icon-arrow-left4:before {
  content: "\edc6";
}
.bN-icon-share:before {
  content: "\eee0";
}
.bN-icon-facebook:before {
  content: "\eeef";
}
.bN-icon-twitter:before {
  content: "\eef5";
}
.bN-icon-rss:before {
  content: "\eefa";
}
.bN-icon-github:before {
  content: "\ef0f";
}
.bN-icon-tumblr:before {
  content: "\ef18";
}
.bN-icon-linkedin:before {
  content: "\ef29";
}
.bN-icon-pinterest2:before {
  content: "\ef31";
}
.bN-icon-xing:before {
  content: "\ef33";
}

.c_1080 {
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (min-width: 1080px) {
  .c_1080 {
    padding-left: 0;
    padding-right: 0;
    width: 1080px;
    margin: 0 auto;
  }
}

.bN_List > div.c_1080 {
  padding: 1rem;
}
.bN_List h1 {
  color: #fff;
}
.bN_Entries {
  position: relative;
  margin: 1rem 0;
}
.bN_Entries figure {
  height: 100%;
}
@media (min-width: 768px) {
  .bN_List > div.c_1080 {
    padding: 2rem 1rem 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-grid-columns: (1fr) [6];
    grid-template-columns: repeat(6, 1fr);
    /* -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
    grid-gap: 2rem;
  }
  .bN_Entries {
    position: relative;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1058px) {
  .bN_List > div.c_1080 {
    padding: 2rem 0 0;
    -ms-grid-columns: (1fr) [6];
    grid-template-columns: repeat(6, 1fr);
  }
}
.bN_Entries figure > div {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  display: block;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-border-radius: 0.35rem 0.35rem 0 0;
  -moz-border-radius: 0.35rem 0.35rem 0 0;
  border-radius: 0.35rem 0.35rem 0 0;
  overflow: hidden;
}

.bN_mImage {
  display: none;
}
.bN_author {
  position: absolute;
  z-index: 2;
  background: #fff;
  height: 52px;
  width: 52px;
  bottom: 0.6rem;
  right: 1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  -ms-transition: all 350ms linear;
  -o-transition: all 350ms linear;
  transition: all 350ms linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: #0e141f 0 0 0.6rem -0.2rem;
  -moz-box-shadow: #0e141f 0 0 0.6rem -0.2rem;
  -o-box-shadow: #0e141f 0 0 0.6rem -0.2rem;
  -ms-box-shadow: #0e141f 0 0 0.6rem -0.2rem;
  box-shadow: #0e141f 0 0 0.6rem -0.2rem;
}
.bN_author::before {
  font-size: 2rem;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(
    315deg,
    #f8ec3b 0,
    #c6085b 50%,
    #591689 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
article.bN_Entries:hover .bN_author {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  bottom: 1.3rem;
  -webkit-box-shadow: #0e141f 0 0 1.5rem -0.3rem;
  -moz-box-shadow: #0e141f 0 0 1.5rem -0.3rem;
  -o-box-shadow: #0e141f 0 0 1.5rem -0.3rem;
  -ms-box-shadow: #0e141f 0 0 1.5rem -0.3rem;
  box-shadow: #0e141f 0 0 1.5rem -0.3rem;
}
.bN_Entries:nth-of-type(1) {
  padding: 0 !important;
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.bN_Entries:nth-of-type(1) figure > div {
  /* height: 400px; */
}
.bN_Entries:nth-of-type(1) .bN_mImage {
  margin: 0 1rem 1rem 0;
  width: 38%;
  height: 250px;
  float: left;
}
.bN_Entries:hover .bN_mImage {
  transform: scale(1.05) rotate(-2deg);
}
.bN_Entries h2 {
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .bN_Entries:nth-of-type(1),
  .bN_Entries:nth-of-type(2) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .bN_Entries:nth-child(n + 3) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .bN_Entries h2 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  .bN_Entries:nth-child(n + 3) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.bN_Entries aside {
  font-size: 0.8rem;
}
.bN_Entries aside a,
.incNews_Entries aside a {
  border-bottom: 0 none;
  -webkit-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
}
.bN_Entries figure {
  position: relative;
  display: block;
  padding: 0 0 3rem;
  background: #fff;
  margin: 0;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  border-radius: 0.35rem;
  -webkit-transition: a35l 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-shadow: #0e141f 0 0 2rem -1rem;
  -moz-box-shadow: #0e141f 0 0 2rem -1rem;
  -o-box-shadow: #0e141f 0 0 2rem -1rem;
  -ms-box-shadow: #0e141f 0 0 2rem -1rem;
  box-shadow: #0e141f 0 0 2rem -1rem;
}
.bN_Entries figure:hover {
  margin: -0.1rem 0 0.1rem;
  -webkit-box-shadow: #0e141f 0 0 4rem -1rem;
  -moz-box-shadow: #0e141f 0 0 4rem -1rem;
  -o-box-shadow: #0e141f 0 0 4rem -1rem;
  -ms-box-shadow: #0e141f 0 0 4rem -1rem;
  box-shadow: #0e141f 0 0 4rem -1rem;
}
.bN_List figure > img {
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  border-radius: 0.35rem;
}
.bN_List figcaption {
  padding: 0.5rem 1rem 1rem;
}
.bN_Entries figcaption aside {
  color: #258ed2;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}
.bN_Entries figcaption aside span {
  font-weight: 100;
  float: right;
}
.bN_List figure.bN_ListFirst {
  position: relative;
  margin: 0;
  padding: 8rem 1rem 0;
}
.bN_List figure.bN_ListFirst > * {
  position: relative;
  z-index: 1;
}
.bN_List figure.bN_ListFirst h1 {
  text-align: left;
  padding-bottom: 0;
}
.bN_List figure.bN_ListFirst h2 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
.bN_List figure.bN_ListFirst h2 .button {
  display: block;
}
.bN_List figure.bN_ListFirst small {
  text-align: left;
  display: block;
  padding: 1.5rem 0 0;
}
.bN_List figure.bN_ListFirst small span {
  display: inline-block;
  padding: 0.2rem 0;
  color: #258ed2;
}
.bN_List figure.bN_ListFirst h3 {
  padding-right: 65px;
}
.bN_List figure.bN_ListFirst .bN_author {
  top: 1rem;
}
.bN_List figure.bN_ListFirst small span:last-of-type {
  float: right;
}
a.incNews_fullLink,
.bN_List figure.bN_ListFirst figcaption > div > a:last-of-type {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0 none;
}
.bN_List figure.bN_ListFirst > figcaption {
  padding: 1rem;
  background: #fff;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  border-radius: 0.35rem;
  -webkit-box-shadow: #2f104c 0 0 2rem -0.3rem;
  -moz-box-shadow: #2f104c 0 0 2rem -0.3rem;
  -o-box-shadow: #2f104c 0 0 2rem -0.3rem;
  -ms-box-shadow: #2f104c 0 0 2rem -0.3rem;
  box-shadow: #2f104c 0 0 2rem -0.3rem;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.bN_List figure.bN_ListFirst > figcaption:hover {
  -webkit-transform: translate(0, -0.35rem);
  -moz-transform: translate(0, -0.35rem);
  -ms-transform: translate(0, -0.35rem);
  -o-transform: translate(0, -0.35rem);
  transform: translate(0, -0.35rem);
  -webkit-box-shadow: #2f104c 0 0 4rem -0.3rem;
  -moz-box-shadow: #2f104c 0 0 4rem -0.3rem;
  -o-box-shadow: #2f104c 0 0 4rem -0.3rem;
  -ms-box-shadow: #2f104c 0 0 4rem -0.3rem;
  box-shadow: #2f104c 0 0 4rem -0.3rem;
}
.bN_List figure.bN_ListFirst > figcaption:hover .bN_author {
  -webkit-transform: scale(1.1) translate(0.15rem, -0.05rem);
  -moz-transform: scale(1.1) translate(0.15rem, -0.05rem);
  -ms-transform: scale(1.1) translate(0.15rem, -0.05rem);
  -o-transform: scale(1.1) translate(0.15rem, -0.05rem);
  transform: scale(1.1) translate(0.15rem, -0.05rem);
  -webkit-box-shadow: #0e141f 0 0 2rem -0.3rem;
  -moz-box-shadow: #0e141f 0 0 2rem -0.3rem;
  -o-box-shadow: #0e141f 0 0 2rem -0.3rem;
  -ms-box-shadow: #0e141f 0 0 2rem -0.3rem;
  box-shadow: #0e141f 0 0 2rem -0.3rem;
}
.bN_List figure.bN_ListFirst > figcaption::after {
  content: "";
  display: block;
  clear: both;
}
.bN_List figure.bN_ListFirst > figcaption .bN_ListFirstImage {
  width: calc(100% + 2rem);
  height: 300px;
  margin: -1rem -1rem 1rem;
  -webkit-border-radius: 0.35rem 0.35rem 0 0;
  -moz-border-radius: 0.35rem 0.35rem 0 0;
  border-radius: 0.35rem 0.35rem 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.bN_List figure.bN_ListFirst > figcaption .bN_ListFirstImage img {
  display: none;
}
.bN_List figure.bN_ListFirst > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 2rem;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
  background: #591689;
  background: -moz-radial-gradient(
    circle,
    #591689 0,
    #c6085b 50%,
    #f8ec3b 100%
  );
  background: -webkit-radial-gradient(
    circle,
    #591689 0,
    #c6085b 50%,
    #f8ec3b 100%
  );
  background: radial-gradient(circle, #591689 0, #c6085b 50%, #f8ec3b 100%);
  background-position: 0 100%;
  background-size: 200% 100%;
}
.bN_List figure.bN_ListFirst > div > div {
  opacity: 0.4;
  -webkit-filter: blur(0.4rem);
  filter: blur(0.4rem);
  position: absolute;
  left: -2rem;
  top: -2rem;
  bottom: 0;
  width: calc(100% + 4rem);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bN_List figure.bN_ListFirst > .bN_EntryBottom {
  position: absolute;
  bottom: calc(2rem - 1px);
  left: 0;
  width: 100vw;
  z-index: 0;
}
@media (min-width: 768px) {
  .bN_List figure.bN_ListFirst h2 .button {
    display: inline-block;
  }
}
@media (min-width: 1058px) {
  .bN_List figure.bN_ListFirst > figcaption .bN_ListFirstImage {
    width: 50%;
    height: 400px;
    float: left;
    margin: -1rem 1rem -1rem -1rem;
    -webkit-border-radius: 0.35rem 0 0 0.35rem;
    -moz-border-radius: 0.35rem 0 0 0.35rem;
    border-radius: 0.35rem 0 0 0.35rem;
  }
  .bN_List figure.bN_ListFirst small {
    padding: 0 0 1rem;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    width: calc(50% - 1rem);
  }
  .bN_List figure.bN_ListFirst h2 .button {
    float: right;
  }
  .bN_List figure.bN_ListFirst {
    padding: 10rem 0 0;
  }
  .bN_List article.bN_ListFirst {
    padding: 7rem 0 1rem;
  }
}
#bN_Entry {
  -webkit-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
#bN_Entry article {
  padding: 7rem 1rem 1rem;
  border-top: 1px solid #f3f6fe;
  border-bottom: 1px solid #f3f6fe;
}
#bN_Entry article div {
  padding: 0;
}
#bN_Entry > a {
  display: inline-block;
  margin: 2rem 0;
}
#bN_mImage {
  padding: 0;
  margin: 0 0 1rem;
  background-position: center center;
  min-height: 400px;
  height: 38vh;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.55s cubic-bezier(0.23, 1, 0.32, 1);
}
#bN_mImage img {
  display: none;
}
#bN_Entry > figure {
  position: relative;
  margin: 0;
  padding: 12rem 1rem 0;
  text-align: center;
  background: #591689;
  background: -moz-radial-gradient(
    circle,
    #591689 0,
    #c6085b 50%,
    #f8ec3b 100%
  );
  background: -webkit-radial-gradient(
    circle,
    #591689 0,
    #c6085b 50%,
    #f8ec3b 100%
  );
  background: radial-gradient(circle, #591689 0, #c6085b 50%, #f8ec3b 100%);
  background-position: 0 100%;
  background-size: 200% 100%;
}
#bN_Entry > figure > * {
  position: relative;
  z-index: 1;
}
#bN_Entry h1 {
  text-align: left;
  color: #fff;
}
#bN_Entry small {
  color: #fff;
  text-align: left;
  display: block;
  padding: 0 0 1rem;
}
#bN_Entry small span {
  display: inline-block;
  padding: 0.2rem 0 0.2rem 1.4rem;
}
#bN_Entry small a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#bN_Entry > figure > figcaption img {
  width: 62%;
  height: auto;
  margin: 0 auto -5rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  border-radius: 0.35rem;
  -webkit-box-shadow: #2f104c 0 0 4rem -0.3rem;
  -moz-box-shadow: #2f104c 0 0 4rem -0.3rem;
  -o-box-shadow: #2f104c 0 0 4rem -0.3rem;
  -ms-box-shadow: #2f104c 0 0 4rem -0.3rem;
  box-shadow: #2f104c 0 0 4rem -0.3rem;
}
#bN_Entry > figure > div {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
#bN_Entry > figure > div > div {
  -webkit-filter: blur(0.4rem);
  filter: blur(0.4rem);
  position: absolute;
  left: -2rem;
  top: -2rem;
  bottom: -2rem;
  width: calc(100% + 4rem);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bN_Entry > figure > .bN_EntryBottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100vw;
  z-index: 0;
}
@media (min-width: 1058px) {
  #bN_Entry > figure {
    padding: 12rem 0 0;
  }
  #bN_Entry article {
    padding: 7rem 0 1rem;
  }
}
