/*
 * ,-----.  ,--.              ,--.    ,-----.          ,--.       ,-----.,--.   ,--. ,---.   
 * |  |) /_ |  | ,--,--. ,---.|  |,-.'  .--./ ,--,--.,-'  '-.    '  .--./|   `.'   |'   .-'  
 * |  .-.  \|  |' ,-.  || .--'|     /|  |    ' ,-.  |'-.  .-'    |  |    |  |'.'|  |`.  `-.  
 * |  '--' /|  |\ '-'  |\ `--.|  \  \'  '--'\\ '-'  |  |  |      '  '--'\|  |   |  |.-'    | 
 * `------' `--' `--`--' `---'`--'`--'`-----' `--`--'  `--'       `-----'`--'   `--'`-----'  
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 3 of the License, or (at
 *   your option) any later version.
 *
 *   This program is distributed in the hope that it will be useful, but
 *   WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *   General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with this program; if not, see <http://www.gnu.org/licenses/>.
 *
 *  @author          Black Cat Development
 *  @copyright       2018 Black Cat Development
 *  @link            https://blackcat-cms.org
 *  @license         http://www.gnu.org/licenses/gpl.html
 *  @category        CAT_Modules
 *  @package         blackNews*/

.bN_List {
	margin:				1em 0 0 0;
	padding:			0;
	display:			-webkit-box;
	display:			-moz-box;
	display:			-ms-flexbox;
	display:			flex;
	-moz-box-wrap:		wrap;
	-webkit-box-wrap:	wrap;
	-ms-flexbox-wrap:	wrap;
	flex-wrap:			wrap;
/*	border-top:			1px solid #e3e3e3;*/
}

	.bN_Entries {
		position:				relative;
		overflow:				hidden;
		-webkit-box-flex:		1;
		-webkit-flex:			1 0 31%;
		-ms-flex:				1 0 31%;
		flex:					1 0 31%;
		margin:					0;
		padding:				1em 2em 4em 2em;
		border-right:			1px solid #e3e3e3;
		border-bottom:			1px solid #e3e3e3;
		-webkit-box-flex:		1;
		-webkit-flex:			1 0 50%;
		-ms-flex:				1 0 50%;
		flex:					1 0 50%;
		-webkit-transition:		all .35s ease-in;
		-moz-transition:		all .35s ease-in;
		-o-transition:			all .35s ease-in;
		-ms-transition:			all .35s ease-in;
		transition:				all .35s ease-in;
		-webkit-hyphens:		auto;
		-moz-hyphens:			auto;
		-ms-hyphens:			auto;
		hyphens:				auto;
	}
	.bN_Entries:hover {
		-webkit-box-shadow:	black 0 0 2em -.5em;
		-moz-box-shadow:	black 0 0 2em -.5em;
		-o-box-shadow:		black 0 0 2em -.5em;
		-ms-box-shadow:		black 0 0 2em -.5em;
		box-shadow:			black 0 0 2em -.5em;
	}
		.bN_Entries h2 {
			padding-right:	2em;
		}
		.bN_Entries aside {
		}
			.bN_Entries aside a {
				color:				#1297dd;
				z-index:			3;
				position:			absolute;
				top:				0;
				right:				0;
				bottom:				0;
				left:				0;
				cursor:				pointer;
				background:			rgba(053, 161, 210, .2);
				-webkit-box-shadow:	inset #35a1d2 0 0 6em -3em;
				-moz-box-shadow:	inset #35a1d2 0 0 6em -3em;
				-o-box-shadow:		inset #35a1d2 0 0 6em -3em;
				-ms-box-shadow:		inset #35a1d2 0 0 6em -3em;
				box-shadow:			inset #35a1d2 0 0 6em -3em;
				-webkit-transition:	all .35s ease-in;
				-moz-transition:	all .35s ease-in;
				-o-transition:		all .35s ease-in;
				-ms-transition:		all .35s ease-in;
				transition:			all .35s ease-in;
				opacity:			0;
				text-align:			center;
			}
			.bN_Entries aside a span {
				position:			absolute;
				right:				-4em;
				bottom:				3em;
				background:			white;
				display:			block;
				font-weight:		700;
				padding:			.4em 6em;
				-webkit-transform:	rotate(-38deg);
				-moz-transform:		rotate(-38deg);
				-ms-transform:		rotate(-38deg);
				-o-transform:		rotate(-38deg);
				transform:			rotate(-38deg);
			}
			.bN_Entries aside a:hover {
				opacity:	1;
			}
			.bN_Entries aside > span.bNDate {
				z-index:				2;
				position:				absolute;
				text-align:				center;
				display:				block;
				color:					#35a1d2;
				font-weight:			400;
				font-size:				1.4em;
				height:					3.5em;
				top:					1.6em;
				right:					.6em;
				text-shadow:			-.1em -.1em .2em white;
				-webkit-transition:		all .5s ease-in;
				-moz-transition:		all .5s ease-in;
				-o-transition:			all .5s ease-in;
				-ms-transition:			all .5s ease-in;
				transition:				all .5s ease-in;
			}
			.bN_Entries aside > span.bNYear {
				z-index:				1;
				position:				absolute;
				top:					.4em;
				right:					.2em;
				font-size:				3.5em;
				font-weight:			700;
				color:					#e3e3e3;
				-webkit-transition:		all .5s ease-in;
				-moz-transition:		all .5s ease-in;
				-o-transition:			all .5s ease-in;
				-ms-transition:			all .5s ease-in;
				transition:				all .5s ease-in;
			}

#bN_Entry {
	padding:	1em 2em;
}
	#bN_Entry article > div {
		padding-bottom:	2em;
	}